<footer class="bg-dark text-light pt-5 pb-4 mt-5">
    <div class="container text-md-left">
        <div class="row">

            <!-- Column 1: Name and description -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                <h5 class="text-uppercase fw-bold mb-4">BlogApp</h5>
                <p>A place to share knowledge, inspiration, and creativity. Write blogs, share ideas, and connect with
                    the community.</p>
            </div>

            <!-- Column 2: Links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Links</h6>
                <p><a href="/posts" class="text-reset text-decoration-none">All Posts</a></p>
                <p><a href="/posts/new" class="text-reset text-decoration-none">Create Post</a></p>
            </div>

            <!-- Column 3: Contact -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="bi bi-envelope me-2"></i> caonguyenhao69@gmail.com</p>
                <p><i class="bi bi-phone me-2"></i> +84 123 456 789</p>
                <p><i class="bi bi-geo-alt me-2"></i> Danang, Vietnam</p>
            </div>

            <!-- Column 4: Social -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Follow Us</h6>
                <a href="#" class="text-light me-3"><i class="bi bi-facebook fs-5"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-twitter fs-5"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-instagram fs-5"></i></a>
                <a href="#" class="text-light"><i class="bi bi-github fs-5"></i></a>
            </div>

        </div>
    </div>

    <div class="text-center mt-3">
        © <%= new Date().getFullYear() %> BlogApp. All rights reserved.
    </div>
</footer>